@font-face {
    font-family: "Inter Bold";
    src: url("../assets/fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter SemiBold";
    src: url("../assets/fonts/Inter-SemiBold.ttf") format("truetype");
}