*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    list-style: none;
    text-decoration: none;
    touch-action: manipulation;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    display: none;
}

iframe {
    pointer-events: none;
}

html {
    font-size: 1.2037037037037037vh;
    color: #fff;
    overflow: hidden;
}


body {
    width: 100vw;
    height: 100vh;

    background: #474545;
}

.main {
    width: 100%;
    height: 100%;
}